# Credit Risk Resampling Techniques

In [1]:
import warnings


warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from collections import Counter
from sklearn.linear_model import LogisticRegression
from imblearn.under_sampling import ClusterCentroids
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
import pickle

# Read the CSV into DataFrame

In [3]:
# Load the data
file_path = Path('forlex.csv')
df = pd.read_csv(file_path)
df.tail(50)

,ID,LIMIT_BAL,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,...,PAY_AMT4,PAY_AMT5,PAY_AMT6,default_pay,Total_Missed_Pymts,Payment_Ratio,Total_Bill_AMT,Total_Payment,%_Amount_Paid,Risk_Level
29950,29951,220000.0,1,32,0,1,0,0,0,0,...,500.0,0.0,264.0,0,1,16.666667,2140.0,1320.0,61.682243,Low
29951,29952,160000.0,2,30,0,0,0,0,0,0,...,5011.0,10006.0,8070.0,0,0,0.000000,569941.0,34368.0,6.030098,NaN
29952,29953,210000.0,2,30,0,0,0,0,0,0,...,0.0,626.0,626.0,0,0,0.000000,18199.0,13993.0,76.888840,NaN
29953,29954,170000.0,2,30,0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0.000000,250582.0,7615.0,3.038925,NaN
29954,29955,180000.0,2,30,0,0,0,0,1,0,...,66.0,57317.0,70052.0,0,1,16.666667,188301.0,132673.0,70.457937,Low
29955,29956,410000.0,2,32,0,1,0,0,0,0,...,0.0,1539.0,0.0,0,1,16.666667,2869.0,2109.0,73.509934,Low
29956,29957,150000.0,2,30,0,0,0,0,0,0,...,1000.0,3000.0,0.0,0,0,0.000000,18207.0,10000.0,54.923930,NaN
29957,29958,500000.0,2,31,0,0,0,0,0,0,...,7524.0,5009.0,2333.0,0,0,0.000000,805132.0,325463.0,40.423558,NaN
29958,29959,230000.0,2,31,0,0,0,0,0,0,...,1000.0,0.0,0.0,0,0,0.000000,5346.0,4000.0,74.822297,NaN
29959,29960,290000.0,2,32,0,0,0,0,0,0,...,18711.0,0.0,157.0,0,0,0.000000,190162.0,164422.0,86.464173,NaN
29960,29961,10000.0,1,29,0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0.000000,34702.0,7018.0,20.223618,NaN
29961,29962,260000.0,2,33,0,0,0,0,0,0,...,101.0,955.0,0.0,0,0,0.000000,2687.0,2687.0,100.000000,NaN
29962,29963,50000.0,2,30,1,0,1,0,0,0,...,0.0,0.0,0.0,0,2,33.333333,7564.0,7828.0,103.490217,Moderate
29963,29964,610000.0,2,31,0,0,1,0,0,0,...,250144.0,271099.0,220076.0,0,1,16.666667,1855358.0,1415333.0,76.283553,Low
29964,29965,360000.0,2,31,0,0,0,0,0,0,...,1000.0,1842.0,390.0,0,0,0.000000,59555.0,24880.0,41.776509,NaN
29965,29966,140000.0,1,32,0,0,0,0,0,0,...,6000.0,5200.0,5000.0,0,0,0.000000,815847.0,35300.0,4.326792,NaN
29966,29967,150000.0,2,31,1,0,0,0,0,0,...,0.0,0.0,0.0,1,1,16.666667,363373.0,6633.0,1.825397,Low
29967,29968,50000.0,1,32,0,0,0,0,1,0,...,0.0,1600.0,1500.0,0,1,16.666667,230799.0,56337.0,24.409551,Low
29968,29969,20000.0,2,34,0,0,0,0,0,0,...,5000.0,12914.0,600.0,0,0,0.000000,87547.0,23514.0,26.858716,NaN
29969,29970,200000.0,1,33,0,0,0,0,0,0,...,3000.0,9751.0,3000.0,0,0,0.000000,433961.0,24993.0,5.759273,NaN
29970,29971,360000.0,1,34,0,0,0,0,0,0,...,53.0,19584.0,16080.0,0,0,0.000000,227577.0,162110.0,71.233033,NaN
29971,29972,80000.0,1,36,0,0,0,0,0,0,...,2556.0,3700.0,3000.0,0,0,0.000000,415047.0,16681.0,4.019063,NaN
29972,29973,190000.0,1,37,0,0,0,0,0,0,...,10115.0,148482.0,4800.0,0,0,0.000000,245711.0,194394.0,79.114895,NaN
29973,29974,230000.0,1,35,1,0,0,0,0,0,...,0.0,0.0,0.0,1,1,16.666667,0.0,0.0,NaN,Low
29974,29975,50000.0,1,37,1,1,1,1,0,0,...,0.0,1000.0,1000.0,1,4,66.666667,30303.0,5000.0,16.500017,High
29975,29976,220000.0,1,41,0,0,0,0,0,0,...,1759.0,1824.0,7022.0,0,0,0.000000,64791.0,32012.0,49.408097,NaN
29976,29977,40000.0,2,47,1,1,1,1,1,1,...,0.0,3520.0,0.0,1,6,100.000000,306009.0,9520.0,3.111020,High
29977,29978,420000.0,2,34,0,0,0,0,0,0,...,5500.0,5600.0,5000.0,0,0,0.000000,843159.0,35600.0,4.222217,NaN
29978,29979,310000.0,1,39,0,0,0,0,0,0,...,8049.0,8040.0,10059.0,0,0,0.000000,1356647.0,55424.0,4.085366,NaN
29979,29980,180000.0,1,32,0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0.000000,0.0,0.0,NaN,NaN
29980,29981,50000.0,2,42,0,0,0,0,0,0,...,3000.0,4500.0,2000.0,0,0,0.000000,232543.0,28500.0,12.255798,NaN
29981,29982,50000.0,1,44,1,1,1,1,0,0,...,517.0,503.0,585.0,0,4,66.666667,174059.0,5605.0,3.220172,High
29982,29983,90000.0,1,36,0,0,0,0,0,0,...,1200.0,2500.0,0.0,1,0,0.000000,64863.0,8200.0,12.642030,NaN
29983,29984,20000.0,1,44,0,0,0,0,0,0,...,9263.0,1824.0,1701.0,0,0,0.000000,21242.0,21288.0,100.216552,NaN
29984,29985,30000.0,2,38,0,0,0,0,0,0,...,3057.0,3319.0,1000.0,0,0,0.000000,11396.0,13275.0,116.488241,NaN
29985,29986,240000.0,2,30,0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0.000000,0.0,0.0,NaN,NaN
29986,29987,360000.0,2,35,0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0.000000,2220.0,0.0,0.000000,NaN
29987,29988,130000.0,2,34,0,0,0,0,0,0,...,4000.0,5027.0,4005.0,0,0,0.000000,352023.0,111032.0,31.541121,NaN
29988,29989,250000.0,1,34,0,0,0,0,0,0,...,6000.0,7000.0,6009.0,0,0,0.000000,1376070.0,101820.0,7.399333,NaN
29989,29990,150000.0,2,35,0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0.000000,13211.0,9837.0,74.460677,NaN
29990,29991,140000.0,1,41,0,0,0,0,0,0,...,1505.0,2000.0,2000.0,0,0,0.000000,648635.0,22733.0,3.504745,NaN
29991,29992,210000.0,1,34,1,1,1,1,1,1,...,0.0,0.0,0.0,1,6,100.000000,15000.0,0.0,0.000000,High
29992,29993,10000.0,1,43,0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0.000000,19202.0,2000.0,10.415582,NaN
29993,29994,100000.0,2,38,0,0,0,0,0,0,...,3000.0,2000.0,2000.0,0,0,0.000000,302568.0,124784.0,41.241638,NaN
29994,29995,80000.0,2,34,1,1,1,1,1,1,...,7000.0,0.0,4000.0,1,6,100.000000,470933.0,21500.0,4.565405,High
29995,29996,220000.0,1,39,0,0,0,0,0,0,...,3047.0,5000.0,1000.0,0,0,0.000000,725349.0,42550.0,5.866142,NaN
29996,29997,150000.0,2,43,0,0,0,0,0,0,...,129.0,0.0,0.0,0,0,0.000000,21182.0,14490.0,68.407138,NaN
29997,29998,30000.0,2,37,1,1,1,0,0,0,...,4200.0,2000.0,3100.0,1,3,50.000000,70496.0,31300.0,44.399682,Moderate
29998,29999,80000.0,1,41,1,0,0,0,0,0,...,1926.0,52964.0,1804.0,1,1,16.666667,266611.0,147181.0,55.204399,Low
29999,30000,50000.0,1,46,0,0,0,0,0,0,...,1000.0,1000.0,1000.0,1,0,0.000000,230874.0,8308.0,3.598500,NaN

In [4]:
# Create the variable bins to define our bounds for when we cut the dataframe.
bins = [0.000000,16.666666, 33.333332,50.000000, 66.666666, 100.000000]

# Create names for the bins
group_names = ["None","Low", "Moderate", "Above Average", "High"]

In [5]:
df["Risk_Level"] = pd.cut(df["Payment_Ratio"], bins, labels=group_names)

df.head()

#df.to_csv('forlex.csv', encoding='utf-8', index=False)

,ID,LIMIT_BAL,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,...,PAY_AMT4,PAY_AMT5,PAY_AMT6,default_pay,Total_Missed_Pymts,Payment_Ratio,Total_Bill_AMT,Total_Payment,%_Amount_Paid,Risk_Level
0,1,20000.0,1,24,1,1,0,0,0,0,...,0.0,0.0,0.0,1,2,33.333333,7704.0,689.0,8.943406,Moderate
1,2,120000.0,2,26,0,1,0,0,0,1,...,1000.0,0.0,2000.0,1,2,33.333333,17077.0,5000.0,29.279147,Moderate
2,3,90000.0,2,34,0,0,0,0,0,0,...,1000.0,1000.0,5000.0,0,0,0.000000,101653.0,11018.0,10.838834,NaN
3,4,50000.0,1,37,0,0,0,0,0,0,...,1100.0,1069.0,1000.0,0,0,0.000000,231334.0,8388.0,3.625926,NaN
4,5,50000.0,1,57,0,0,0,0,0,0,...,9000.0,689.0,679.0,0,0,0.000000,109339.0,59049.0,54.005433,NaN

In [6]:
values = {'Risk_Level': 'None'}
df=df.fillna(value=values)

In [7]:
df.head()

,ID,LIMIT_BAL,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,...,PAY_AMT4,PAY_AMT5,PAY_AMT6,default_pay,Total_Missed_Pymts,Payment_Ratio,Total_Bill_AMT,Total_Payment,%_Amount_Paid,Risk_Level
0,1,20000.0,1,24,1,1,0,0,0,0,...,0.0,0.0,0.0,1,2,33.333333,7704.0,689.0,8.943406,Moderate
1,2,120000.0,2,26,0,1,0,0,0,1,...,1000.0,0.0,2000.0,1,2,33.333333,17077.0,5000.0,29.279147,Moderate
2,3,90000.0,2,34,0,0,0,0,0,0,...,1000.0,1000.0,5000.0,0,0,0.000000,101653.0,11018.0,10.838834,None
3,4,50000.0,1,37,0,0,0,0,0,0,...,1100.0,1069.0,1000.0,0,0,0.000000,231334.0,8388.0,3.625926,None
4,5,50000.0,1,57,0,0,0,0,0,0,...,9000.0,689.0,679.0,0,0,0.000000,109339.0,59049.0,54.005433,None

In [8]:
df.corr()['default_pay']

ID                   -0.013952
LIMIT_BAL            -0.153520
MARRIAGE             -0.024339
AGE                   0.013890
PAY_0                 0.368117
PAY_2                 0.338022
PAY_3                 0.293583
PAY_4                 0.275495
PAY_5                 0.266959
PAY_6                 0.246089
BILL_AMT1            -0.019644
BILL_AMT2            -0.014193
BILL_AMT3            -0.014076
BILL_AMT4            -0.010156
BILL_AMT5            -0.006760
BILL_AMT6            -0.005372
PAY_AMT1             -0.072929
PAY_AMT2             -0.058579
PAY_AMT3             -0.056250
PAY_AMT4             -0.056827
PAY_AMT5             -0.055124
PAY_AMT6             -0.053183
default_pay           1.000000
Total_Missed_Pymts    0.398394
Payment_Ratio         0.398394
Total_Bill_AMT       -0.012691
Total_Payment        -0.102354
%_Amount_Paid        -0.011391
Name: default_pay, dtype: float64

In [9]:
X=df[['MARRIAGE', 'AGE','PAY_0','PAY_2','PAY_3','PAY_4','PAY_5','PAY_6','Total_Missed_Pymts', 'Payment_Ratio','Total_Payment']]

In [10]:
y=df[['default_pay']]

# Split the Data into Training and Testing

In [11]:
# Check the balance of our target values

y['default_pay'].value_counts()

0    23364
1     6636
Name: default_pay, dtype: int64

In [12]:
# Create X_train, X_test, y_train, y_test
# YOUR CODE HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [13]:
print(f'''% Positive class in Train ={np.round(y_train.value_counts(normalize=True)[1] *100, 2)}''')

% Positive class in Train =default_pay
1              22.08
dtype: float64

## Data Pre-Processing

Scale the training and testing data using the `StandardScaler` from `sklearn`. Remember that when scaling the data, you only scale the features data (`X_train` and `X_testing`).

In [14]:
# Create the StandardScaler instance
from sklearn.preprocessing import StandardScaler
# YOUR CODE HERE
scaler = StandardScaler()

In [15]:
 #Fit the Standard Scaler with the training data
 #When fitting scaling functions, only train on the training dataset
#YOUR CODE HERE
X_scaler = scaler.fit(X_train)

In [16]:
# Scale the training and testing data
# YOUR CODE HERE
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

### Smoteen

In [17]:
# Resample the training data with SMOTEENN
# YOUR CODE HERE

from imblearn.combine import SMOTEENN

sm = SMOTEENN(random_state=1)
smoteen_X_resampled, smoteen_y_resampled = sm.fit_resample(X_train_scaled, y_train)

pickle.dump(sm,open('smoteenn.pkl', 'wb'))

# View the count of target classes with Counter
# YOUR CODE HERE

In [18]:
Counter(y_train.value_counts())

Counter({17532: 1, 4968: 1})

In [19]:
# Train the Logistic Regression model using the resampled data
# YOUR CODE HERE
smoteen_model= LogisticRegression(solver='lbfgs', random_state=1)
smoteen_model.fit(smoteen_X_resampled, smoteen_y_resampled)

LogisticRegression(random_state=1)

In [20]:
# Calculate the balanced accuracy score
# YOUR CODE HERE
smoteen_y_pred = smoteen_model.predict(X_test_scaled)
balanced_accuracy_score(y_test, smoteen_y_pred)

0.6969757527311484

In [21]:
print(f"Training Data Score: {smoteen_model.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {smoteen_model.score(X_test_scaled, y_test)}")

Training Data Score: 0.7636444444444445
Testing Data Score: 0.7624

In [22]:
# Display the confusion matrix
# YOUR CODE HERE
confusion_matrix(y_test, smoteen_y_pred)

array([[4752, 1080],
       [ 702,  966]], dtype=int64)

In [23]:
# Print the imbalanced classification report
# YOUR CODE HERE
print(classification_report_imbalanced(y_test, smoteen_y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.87      0.81      0.58      0.84      0.69      0.48      5832
          1       0.47      0.58      0.81      0.52      0.69      0.46      1668

avg / total       0.78      0.76      0.63      0.77      0.69      0.48      7500